---
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{{ site.data.resume.name }}'s Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-6.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
<style type="text/css">
<!--
span.cls_003{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Calibri",serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Calibri Bold",serif;font-size:18.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:"Calibri Bold",serif;font-size:12.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:"Calibri Bold",serif;font-size:12.8px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_017{font-family:"Calibri",serif;font-size:10.0px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_017{font-family:"Calibri",serif;font-size:10.0px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_016{font-family:"Calibri",serif;font-size:11.0px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: underline}
div.cls_016{font-family:"Calibri",serif;font-size:11.0px;color:rgb(17,84,204);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:"Calibri Bold",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:"Calibri Bold",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Calibri Bold",serif;font-size:7.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Calibri Bold",serif;font-size:7.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:"Calibri",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:"Calibri",serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:6.0px;color:rgb(0,0,102);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>	
</head> 

<body>
    <div class="wrapper">
		{% include nav.html %}
        {% include sidebar.html %}
        
        <div class="main-wrapper">
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">

<div style="position:absolute;left:54.00px;top:46.25px" class="cls_003"><span class="cls_003">11382 Clove Way</span></div>
<div style="position:absolute;left:498.75px;top:46.25px" class="cls_003"><span class="cls_003">(720)412-5445</span></div>
<div style="position:absolute;left:54.00px;top:58.25px" class="cls_003"><span class="cls_003">Parker CO 80134</span></div>
<div style="position:absolute;left:268.50px;top:51.75px" class="cls_005"><span class="cls_005">K</span><span class="cls_006">EVIN</span><span class="cls_005"> V</span><span class="cls_006">OELL</span></div>
<div style="position:absolute;left:483.75px;top:58.25px" class="cls_017"><span class="cls_017"> </span><A HREF="mailto:kvoell@gmail.com">kvoell@gmail.com</A> </div>
<div style="position:absolute;left:54.00px;top:82.00px" class="cls_016"><span class="cls_016"> </span><A HREF="http://www.github.com/kevinvoell">www.github.com/kevinvoell</A> </div>
<div style="position:absolute;left:465.00px;top:82.00px" class="cls_016"><span class="cls_016"> </span><A HREF="http://www.kevinvoell.com/">www.kevinvoell.com</A> </div>
<div style="position:absolute;left:54.00px;top:101.50px" class="cls_009"><span class="cls_009">E</span><span class="cls_010">MPLOYMENT</span></div>
<div style="position:absolute;left:54.00px;top:115.75px" class="cls_009"><span class="cls_009">Senior Software Engineer</span></div>
<div style="position:absolute;left:288.00px;top:115.75px" class="cls_009"><span class="cls_009">RSM US</span></div>
<div style="position:absolute;left:443.25px;top:115.75px" class="cls_009"><span class="cls_009">December 2015 - Present</span></div>
<div style="position:absolute;left:54.00px;top:130.01px" class="cls_011"><span class="cls_011">CLEARthru (</span><A HREF="https://rsmus.com/what-we-do/services/technology/clearthru.html">www.rsmus.com/clearthru</A> </span><span class="cls_011">): Traceability solution built on blockchain technology</span></div>
<div style="position:absolute;left:72.00px;top:148.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:143.51px" class="cls_011"><span class="cls_011">Architected framework and services for integrating D365FO to HyperLedger Fabric BlockChain, RSM’s</span></div>
<div style="position:absolute;left:90.00px;top:157.01px" class="cls_011"><span class="cls_011">CLEARthru product trace service, and IBM FoodTrust.</span></div>
<div style="position:absolute;left:72.00px;top:175.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:170.51px" class="cls_011"><span class="cls_011">Developed service to route API calls based on destination, allowed a single endpoint to route to multiple</span></div>
<div style="position:absolute;left:90.00px;top:184.01px" class="cls_011"><span class="cls_011">internal or external blockchain networks.</span></div>
<div style="position:absolute;left:72.00px;top:202.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:197.51px" class="cls_011"><span class="cls_011">Designed and implemented chaincode in Node.js for the Hyperledger Fabric Blockchain to respond to</span></div>
<div style="position:absolute;left:90.00px;top:211.01px" class="cls_011"><span class="cls_011">changes in the ledger and trigger events based on those changes.</span></div>
<div style="position:absolute;left:54.00px;top:224.51px" class="cls_011"><span class="cls_011">Technology Experience Center (</span><A HREF="http://www.rsmus.com/tec">www.rsmus.com/tec</A> </span><span class="cls_011">):  Showcase of different technologies for intelligent retail</span></div>
<div style="position:absolute;left:72.00px;top:243.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:238.01px" class="cls_011"><span class="cls_011">Architected a product locator system for Retail Stores, using an ESP32 microcontroller, Azure ServiceBus</span></div>
<div style="position:absolute;left:90.00px;top:251.51px" class="cls_011"><span class="cls_011">queue, and a PowerApp to turn on LED lights to indicate where a product is located in an aisle.</span></div>
<div style="position:absolute;left:72.00px;top:270.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:265.01px" class="cls_011"><span class="cls_011">Developed a frictionless checkout system using an ESP32 and RFID reader to send RFID EPCs to a</span></div>
<div style="position:absolute;left:90.00px;top:278.51px" class="cls_011"><span class="cls_011">customized CloudPOS form.</span></div>
<div style="position:absolute;left:72.00px;top:297.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:292.01px" class="cls_011"><span class="cls_011">Utilized knowledge of C#, X++, C++, embedded devices, JTAG/SWD, and git to quickly prototype, debug,</span></div>
<div style="position:absolute;left:90.00px;top:305.51px" class="cls_011"><span class="cls_011">test, and deliver solutions to complex business requirements.</span></div>
<div style="position:absolute;left:54.00px;top:319.01px" class="cls_011"><span class="cls_011">RoboCart: Autonomous Shopping Cart Prototype</span></div>
<div style="position:absolute;left:72.00px;top:337.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:332.51px" class="cls_011"><span class="cls_011">Designed and implemented an autonomous shopping cart utilizing an ESP32 microcontroller, a</span></div>
<div style="position:absolute;left:90.00px;top:346.01px" class="cls_011"><span class="cls_011">DWM1000 Ultra-wideband listener connected via I2C protocol to calculate position, and an LSM9DS1</span></div>
<div style="position:absolute;left:90.00px;top:359.51px" class="cls_011"><span class="cls_011">compass to calculate heading to follow a customer around a retail store.</span></div>
<div style="position:absolute;left:72.00px;top:378.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:373.01px" class="cls_011"><span class="cls_011">Implemented an indoor positioning system using DWM1000 Ultra-wideband modules.</span></div>
<div style="position:absolute;left:72.00px;top:391.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:386.51px" class="cls_011"><span class="cls_011">Implemented an A* algorithm to calculate the shortest route from the carts current location to an item</span></div>
<div style="position:absolute;left:90.00px;top:400.01px" class="cls_011"><span class="cls_011">in the store.</span></div>
<div style="position:absolute;left:54.00px;top:413.51px" class="cls_011"><span class="cls_011">Application Development: Provided clients with custom software solutions for their business needs</span></div>
<div style="position:absolute;left:72.00px;top:432.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:427.01px" class="cls_011"><span class="cls_011">Customized Dynamics 365 Cloud POS and MPOS for client specific requirements.</span></div>
<div style="position:absolute;left:72.00px;top:445.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:440.51px" class="cls_011"><span class="cls_011">Implemented custom credit card processors for D365FO Call Center and POS.</span></div>
<div style="position:absolute;left:72.00px;top:459.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:454.01px" class="cls_011"><span class="cls_011">Architected D365FO integration with local hardware using WebSockets and Windows Sevice.</span></div>
<div style="position:absolute;left:72.00px;top:472.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:467.51px" class="cls_011"><span class="cls_011">Mentored junior engineers on developing customizations for D365 Commerce.</span></div>
<div style="position:absolute;left:54.00px;top:489.26px" class="cls_009"><span class="cls_009">Senior Architect</span></div>
<div style="position:absolute;left:264.75px;top:489.26px" class="cls_009"><span class="cls_009">Junction Solutions</span></div>
<div style="position:absolute;left:436.50px;top:489.26px" class="cls_009"><span class="cls_009">July 2006 - December 2015</span></div>
<div style="position:absolute;left:54.00px;top:503.51px" class="cls_011"><span class="cls_011">Wireless Warehouse: Realtime browser based warehouse management system for Dynamics AX</span></div>
<div style="position:absolute;left:72.00px;top:522.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:517.01px" class="cls_011"><span class="cls_011">Architected full stack solution including integration with Dynamics AX.</span></div>
<div style="position:absolute;left:72.00px;top:535.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:530.51px" class="cls_011"><span class="cls_011">Developed C# and X++ code generator and SDK to facilitate easy communication with Dynamics AX using</span></div>
<div style="position:absolute;left:90.00px;top:544.01px" class="cls_011"><span class="cls_011">the .NET Business Connector (AX v4 & 2009) and AIF (AX 2012).</span></div>
<div style="position:absolute;left:72.00px;top:562.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:557.51px" class="cls_011"><span class="cls_011">Utilized knowledge of HTML and JavaScript to run efficiently on resource constrained devices.</span></div>
<div style="position:absolute;left:54.00px;top:571.01px" class="cls_011"><span class="cls_011">Application Development:</span></div>
<div style="position:absolute;left:72.00px;top:589.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:584.51px" class="cls_011"><span class="cls_011">Developed Windows 8 Mobile applications for operations such as receiving and picking.</span></div>
<div style="position:absolute;left:72.00px;top:603.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:598.01px" class="cls_011"><span class="cls_011">Developed integrations for systems and hardware such as point of sale, scales, warehouse conveyor</span></div>
<div style="position:absolute;left:90.00px;top:611.51px" class="cls_011"><span class="cls_011">systems, and manufacturing equipment.</span></div>
<div style="position:absolute;left:54.00px;top:633.26px" class="cls_009"><span class="cls_009">T</span><span class="cls_010">ECHNICAL</span><span class="cls_009"> E</span><span class="cls_010">XPERIENCE</span></div>
<div style="position:absolute;left:54.00px;top:647.51px" class="cls_009"><span class="cls_009">Projects</span></div>
<div style="position:absolute;left:54.00px;top:661.01px" class="cls_011"><span class="cls_011">MoScenes: Developed an iOS application to control WeMo brand smart home devices over a local network.</span></div>
<div style="position:absolute;left:54.00px;top:674.51px" class="cls_011"><span class="cls_011">Oh Yeah!: Created an iOS application that used GPS and push notifications to manage todo lists.</span></div>
<div style="position:absolute;left:54.00px;top:696.26px" class="cls_009"><span class="cls_009">Languages and Technologies</span></div>
<div style="position:absolute;left:72.00px;top:715.50px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:710.51px" class="cls_011"><span class="cls_011">C#, JavaScript, TypeScript, Node.JS, X++, C++, HTML, Swift, Objective-C</span></div>
<div style="position:absolute;left:72.00px;top:729.00px" class="cls_012"><span class="cls_012">●</span></div>
<div style="position:absolute;left:90.00px;top:724.01px" class="cls_011"><span class="cls_011">Visual Studio, Visual Studio Code, Dynamics 365, Dynamics AX, Microsoft SQL Server, XCode, git, UIKit,</span></div>
<div style="position:absolute;left:90.00px;top:737.51px" class="cls_011"><span class="cls_011">CocoaTouch, Interface Builder, Arduino</span></div>
</div>
        </div><!--//main-body-->
    </div>
 
    {% include footer.html %}
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>            
</body>
</html> 

