---
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{{ site.data.resume.name }}'s Resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles-6.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    <div class="wrapper">
		{% include nav.html %}
        {% include sidebar.html %}
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>QUALIFICATION HIGHLIGHTS</h2>
                <div class="summary">
					<ul>
						<li>15 years’ experience developing software</li>
						<li>Specialist in Code Generation, Integration, and Tool Development</li>
						<li>Expert in C#, ASP.NET, X++, Object-Oriented Programming and Design</li>
						<li>Accomplished in SQL, Swift, Objective-C, Framework Architecture, Unit Testing</li>
						<li>Skilled in Entity and Process Modeling, Logical and Physical Diagrams</li>
					</ul>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>PROJECTS</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">wemo Scenes</a></span> - <span class="project-tagline">iOS application written in swift to control a set of wemo switches.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook" target="_blank">Dynamics AX Retail Server Example</a></span> - 
                    <span class="project-tagline">Example project for adding customer services to the Dynamics AX 2012 R3 Retail Server.</span>
                </div><!--//item-->
            </section><!--//section-->			
			
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>EXPERIENCE</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">December 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">RSM US, Denver</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul>
							<li>Engineered highly scalable multi tenant APIs for a product trace application (Node.js, Docker, Mongodb, Scalability, Microservices)</li>
							<li>Lead developer for product trace application using Hyperledger Fabric blockchain.  Worked with product owners, collected requirements, and led team of developers writing chaincode and a .Net Core SDK (Node.js, Java, HTML5/JS, C#, .Net Core, Docker, NoSQL, gRPC)</li>
							<li>Created autonomous shopping cart prototype that included features to follow a shopper through a retail store, navigate a complex retail store layout using an A* algorithm for route planning, taking the shopper to where an item is in a store, and create a transaction of all the items in the shopping cart for easy and fast checkout (C++, C#, Docker, Swift, Arduino, Indoor Positioning System, RFID, iOS)</li>
							<li>Developed integration between web browsers and local hardware to allow clients to attach a physical scale to a computer via USB or Serial Port and have the data from the scale update fields directly in the web browser (WebSockets, HTML5/JS, C#, X++, D365FO)</li>
							<li>Owned the tools packages for Dynamics 365 F&O. Managed development, feature specs, backlog, sprints, and release schedule (X++, C#, D365FO)</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">July 2009 - December 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Junction Solutions, Denver</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul>
							<li>Developed Windows 8 Mobile applications for operations such as receiving, inventory movement, picking, and shelf labels (C#, XAML, SQL, AX 2012)</li>
							<li>Engineered iOS App to allow sales personnel to enter sales orders on iPads and iPhones (Objective-C, CocoaTouch, UIKit, Core Data, Core Location, CFNetwork, SQLite, C#, X++, AX 2009)</li>
							<li>Wrote iOS App for time and expense entry (C#, Xamarin, AX 2009)</li>
							<li>Developed integrations for systems and hardware such as point of sale, scales, warehouse conveyor systems, and manufacturing equipment (X++, C#, C++, AX 2009/2012)</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Engineer</h3>
                            <div class="time">July 2006 - July 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Junction Solutions, Denver</div>
                    </div><!--//meta-->
                    <div class="details">
						<ul>
							<li>Architected mobile warehousing system with features such as directed putaway, picking, replenishment, counting, and inventory (C#, HTML, JavaScript, X++, AX 4)</li>
							<li>Developed e-commerce applications that integrated with backend ERP systems (C#, Java, X++, COM, HTML, JavaScript, CSS, AX 4)</li>
						</ul>
                    </div><!--//details-->
                </div><!--//item-->			
                
            </section><!--//section-->
            
				<div class="row">

					<section class="col-md-4 skills-section section">
						<h2 class="section-title"><i class="fa fa-code"></i>LANGUAGES</h2>
						<div class="skillset">        
							<div class="item">
								<h3 class="level-title">C#</h3>                               
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">Swift</h3>                             
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">X++</h3>                             
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">JavaScript</h3>                                
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">Objective-C</h3>                              
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">HTML</h3>                              
							</div><!--//item-->							
							
						</div>  
					</section><!--//skills-section-->

					<section class="col-md-4  skills-section section">
						<h2 class="section-title"><i class="fa fa-share-alt"></i>FRAMEWORKS</h2>
						<div class="skillset">        
							<div class="item">
								<h3 class="level-title">jQuery</h3>                               
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">AngularJS</h3>                             
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">Knockout</h3>                             
							</div><!--//item-->
							
						</div>  
					</section><!--//skills-section-->	
					
					<section class="col-md-4  skills-section section">
						<h2 class="section-title"><i class="fa fa-bolt"></i>TOOLS</h2>
						<div class="skillset">        
							<div class="item">
								<h3 class="level-title">Visual Studio</h3>                               
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">Xcode</h3>                             
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">git</h3>                             
							</div><!--//item-->
							
							<div class="item">
								<h3 class="level-title">TFS/VSO</h3>                             
							</div><!--//item-->							
							
						</div>  
					</section><!--//skills-section-->						
				
				</div>
        </div><!--//main-body-->
    </div>
 
    {% include footer.html %}
 
    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>            
</body>
</html> 

