        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="https://avatars0.githubusercontent.com/u/1933316?v=3&s=100" alt="" />
                <h1 class="name">Kevin Voell</h1>
                <h3 class="tagline">Software Engineer</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: kvoell@gmail.com">kvoell@gmail.com</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="https://www.kevinvoell.com" target="_blank">kevinvoell.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="http://linkedin.com/in/kevinvoell" target="_blank">linkedin.com/in/kevinvoell</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="http://www.github.com/kevinvoell" target="_blank">@kevinvoell</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/kevinvoell" target="_blank">@kevinvoell</a></li>
                </ul>
            </div><!--//contact-container-->
        </div><!--//sidebar-wrapper-->